<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1> Create event </h1>

            <hr>

            <form action="/events/create" method="POST" enctype="multipart/form-data">
                <div class="mb-3 mt-5">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" id="" name="name">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control" id="" name="description">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label"> Image </label>
                    <input type="file" class="form-control" id="profileImg" name="eventImg">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="" name="startDate">
                </div>

                <div class="mb-4">
                    <label for="" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="" name="endDate">
                </div>


                {{!-- GERMAN --}}
                {{!-- <div class="mb-3">
                    <label for="artist1" class="form-label">Artista #1</label>
                    <input type="text" class="form-control" id="artist1" name="artist1">
                    <ul id="artist1results">

                    </ul>
                </div> --}}

                {{!-- NUEVO INTENTO --}}
                <div class="container">

                    <div class="container mb-3">
                        <label for="artist1">Artista #1</label>
                        <input list="artist1results" id="artist1" name="artist1">
                        <datalist id="artist1results">

                        </datalist>
                    </div>

                    <div class="container mb-3">
                        <label for="artist2">Artista #2</label>
                        <input list="artist2results" id="artist2" name="artist2">
                        <datalist id="artist2results">

                        </datalist>
                    </div>

                    <div class="container mb-3">
                        <label for="artist3">Artista #3</label>
                        <input list="artist3results" id="artist3" name="artist3">
                        <datalist id="artist3results">

                        </datalist>
                    </div>

                    <div class="container mb-3">
                        <label for="artist4">Artista #4</label>
                        <input list="artist4results" id="artist4" name="artist4">
                        <datalist id="artist4results">

                        </datalist>
                    </div>

                    <div class="container mb-3">
                        <label for="artist5">Artista #5</label>
                        <input list="artist5results" id="artist5" name="artist5">
                        <datalist id="artist5results">

                        </datalist>
                    </div>
                </div>


                <div class="container mt-5 mb-5">
                    <button type="submit" class="btn btn-dark">Create Event</button>
                </div>

            </form>

        </div>

    </div>

</div>



<script src="/js/select-artists.js"></script>