<div class="container mt-5">

    <h1>Hola, {{username}} </h1>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{profileImg}}" alt="{{name}}">
            </div>

            <div class="col">
                <p><strong> EMAIL: </strong> {{email}} </p>

            </div>
        </div>
    </div>


</div>