<div class="container">

    <h1> SEARCH ARTISTS </h1>

    <hr>

    <form method="GET" action="/artist-results">

        <input type="text" name="nameArtist">
        <input type="submit" value="Seach artist">

    </form>

</div>