<div class="container mt-5">

    <h1> SEARCH ARTISTS </h1>

    <hr>

    <div class="container mt-5">
        <form method="GET" action="/artists/search-results">

            <input type="text" name="nameArtist">
            <input type="submit" value="Seach artist">

        </form>
    </div>

</div>