<div class="container mt-5">

    <div>
        <h1>Artist Details</h1>
    </div>

    <hr>

    <div class="row container">
        <div class="col-md-6 col-gd-3">
            <img src="{{images.[0].url}}" alt="{{name}}">
        </div>

        <div class="col-md-6 col-gd-3 mt-3">
            <div class="container mt-2">
                <h2>{{name}}</h2>
            </div>

            <div class="container mt-5">
                <p><strong>Followers:</strong> {{followers.total}}</p>
            </div>

            {{!-- <div class="d-grid gap-2 col-3 mx-auto mt-5">
                <a href="/artists" class="btn btn-dark btn-sm">Return ArtistsList</a>
            </div> --}}

        </div>
    </div>

    <hr>

</div>